//중복 값 처리
// 박스 둥굴게 글씨 하얀색
%bluck_type {
  border-radius: 10px;
  border: none;
  color: #ffffff;
}

.company-main-wrapper {
  display: flex;
  .title {
    margin-left: 20px;
    h2 {
      color: #656577;
    }
  }
}

// 업소 리스트
.company_list_page {
  display: flex;
  align-items: center;
  overflow-x: hidden;
  flex-direction: column;

  .company_list_wrapper {
    width: 80%;
    min-height: 100%;
  }

  .title {
    display: flex;
    height: 100px;
    margin-top: 20px;
    align-items: center;
    border-bottom: 4px solid #9db5fd;
    h2 {
      color: #656577;
      display: inline-block;
      font-size: 30px;
    }
  }
  .plus_company {
    text-align: center;
    button {
      background-color: #d9d9d9;
      width: 100px;
      height: 100px;
      border-radius: 100px;
      border: none;
      font-size: 30px;
      cursor: pointer;
    }

    button:hover {
      background-color: #a9a9a9;
    }
  }
}

.list {
  display: inline-block;
  width: 100%;
  .company_one {
    margin: 20px;
    display: flex;
    justify-content: center;

    .company_img {
      width: 200px;
      height: 100px;
    }

    .company_one_right {
      display: flex;
      background: rgba(17, 26, 215, 0.05);
      opacity: 0.7;
      border-radius: 20px;
      width: 60vw;
      height: 200px;
      font-size: 20px;
      justify-content: center;
      flex-direction: column;
      .company_set {
        display: flex;
      }

      label {
        display: inline-block;
        font-weight: 700;
        width: 100px;
      }
    }

    .company_one_btn {
      display: flex;
      flex-direction: column;
      width: 80px;

      .in {
        height: 80%;
        margin: 5px;
        background: #4a52ff;
        @extend %bluck_type;
        font-size: 18px;
        cursor: pointer;
      }
      .alba-in {
        height: 1000%;
        margin: 5px;
        background: #4a52ff;
        @extend %bluck_type;
        font-size: 18px;
      }
      button:hover {
        background-color: #1e26b7;
      }

      .edit {
        height: 20%;
        margin: 5px;
        background: #788cf2;
        font-size: 18px;
        cursor: pointer;
        @extend %bluck_type;
      }
      .alba-in {
        height: 100%;
        margin: 5px;
        background: #4a52ff;
        @extend %bluck_type;
        font-size: 18px;
      }
    }
  }
}

// 업장 등록

.editor_wrapper {
  margin: 20px;
  height: 400px;
  // background: rgba(17, 26, 215, 0.05);
  opacity: 0.7;
  border-radius: 20px;
  display: flex;
  // justify-content: center;

  .editor_img {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    .uploadImg {
      margin: 5px 0 20px 0;
      font-weight: bold;
      font-size: 13px;
      color: #0095f6;
      display: inline-block;
      cursor: pointer;
    }

    img {
      width: 100px;
      height: 100px;
      min-width: 130px;
      min-height: 130px;

      border-radius: 10px;
    }

    input {
      display: none;
    }
  }

  .editor_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    margin-left: 40px;
  }
  .tel {
    font-size: 22px;
  }

  .editor_set {
    // height: 50px;
    display: flex;
    align-items: center;
    margin: 10px;
    label {
      font-size: 18px;
      width: 100px;
      // text-align: center;
      font-weight: bold;
      // border-right: 3px solid gray;
    }

    input {
      background: rgba(235, 235, 235, 0.19);
      width: 200px;
      height: 25px;
      border: 1px solid #828282;
      border-radius: 10px;
      display: inline-block;

      &:focus {
        outline: none;
        border-color: #9e30f4;
        box-shadow: 0 0 1px #9e30f4;
      }
    }
    input[name="salary_day"] {
      width: 100px;
    }

    input[name="tel1"],
    [name="tel2"],
    [name="tel3"] {
      width: 80px;
      margin: 0px 5px 0px 5px;
    }

    [type="date"] {
      text-align: center;
    }

    select {
      border-radius: 50px;
      height: 30px;
      width: 150px;
    }
  }

  button:hover {
    filter: brightness(50%);
    cursor: pointer;
    transition: 0.5s;
  }
}

.editor_company {
  text-align: center;
  button {
    background-color: #d9d9d9;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    border: none;
    font-size: 22px;
    margin: 20px;
    cursor: pointer;
  }
  .save {
    background-color: #4a52ff;
    color: #ffffff;
  }
  .save:hover {
    background-color: #393c83;
  }
  .cancel:hover {
    background-color: #a5a5a5;
  }
}
.searchAddress {
  background-color: #4a52ff;
  color: #ffffff;
  border: none;
  padding: 5px;
  width: 120px;
  border-radius: 10px;
}

//알바생 초대 화면
.invite-wrapper {
  .main {
    margin: 30px;
    h3 {
      b {
        color: #9e30f4;
      }
    }
    .emailform {
      display: flex;

      .email-wrapper {
        height: 50px;
        width: 450px;
        margin: 5px;
        input {
          font-size: 14px;
          width: 100%;
          height: 48px;
          padding: 0px 11px 1px 15px;
          border-radius: 4px;
          border: 1px solid rgb(221, 221, 221);
          font-weight: 400;
          font-size: 16px;
          line-height: 1.5;
          color: rgb(51, 51, 51);
          outline: none;
          box-sizing: border-box;
        }
      }

      .btn-wrapper {
        margin: 5px;
        button {
          border-radius: 20px;
          border: none;
          width: 130px;
          height: 50px;
          cursor: pointer;
          font-size: 18px;
          background: #4a52ff;
          color: #ffffff;
        }
      }
    }
  }
}

// QR 조회 화면 -> 알바생 출퇴근 기록 화면
.qr-wrapper {
  width: 80vw;
  min-width: 1000px;
  .main {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    h2.company-name {
      font-size: 30px;
      text-shadow: 1px 1px 1px gray;
    }
  }
}

//일바생 출퇴근 기록 로그인 모달
// .modal-wrapper {
//   // // opacity: 0;
//   // transition: opacity 0.3s ease-in-out;
// }
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  .submit-form {
    margin-top: 30px;
    p {
      font-weight: bold;
    }
    input {
      height: 30px;
      width: 200px;
      border-radius: 5px;
      border: solid 2px #a5a5a5;
      font-size: 16px;
      &:focus {
        outline: none;
        border: solid 2px #9e30f4;
      }
    }
    .submit {
      display: block;
      margin: 25px auto;
      padding: 10px;
      background-color: #788cf2;
      border: none;
      border-radius: 4px;
      color: #ffffff;
      font-size: 18px;
      width: 100px;
    }
  }
}

.modal-content {
  width: 500px;
  height: 400px;
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 4px;

  .modal-title {
    border-bottom: 4px solid #788cf2;
    color: #656577;
  }
  .close-button {
    font-size: 20px;
  }
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
// .modal-open {
//   overflow: hidden;
// }

//모달 애니메이션
.alert-enter {
  opacity: 0;
  // transform: scale(0.9);
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  // transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
