//중복 값 처리
// 박스 둥굴게 글씨 하얀색
%bluck_type {
  border-radius: 10px;
  border: none;
  color: #ffffff;
}

.companyAlba-Wrapper {
  display: flex;
  .title {
    margin-left: 20px;
    h2 {
      color: #656577;
    }
  }

  .contract-Wrapper {
    width: 97%;
    height: 100%;
    margin: 20px;
    background-color: #ededed;
    .ct-wrapper {
      margin: 20px;
      height: 420px;
    }
  }
  .aa {
    .edit-btn {
      width: 100px;
      height: 50px;
      background: #4a52ff;
      @extend %bluck_type;
      margin: 20px;
    }
  }

  .bb {
    .check-btn {
      width: 100px;
      height: 50px;
      background: #4a52ff;
      @extend %bluck_type;
      margin: 20px;
    }
    .cancel-btn {
      width: 100px;
      height: 50px;
      background: #ff4a53;
      @extend %bluck_type;
      margin: 20px;
    }
  }

  .list-Wrapper {
    width: 100%;
    height: 100%;
  }

  .list {
    display: inline-block;
    width: 100%;
    .company_one {
      margin: 20px;
      display: flex;
      justify-content: center;

      .company_img {
        width: 200px;
        height: 100px;
      }

      .company_one_right {
        display: flex;
        background: rgba(17, 26, 215, 0.05);
        opacity: 0.7;
        border-radius: 20px;
        width: 60vw;
        height: 200px;
        font-size: 20px;
        justify-content: center;
        flex-direction: row;
        .company_info {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 10px;
          width: 660px;
          .company_set {
            display: flex;
            font-weight: 700;
            display: inline-block;
          }

          label {
            display: inline-block;
            font-weight: 700;
            width: 100px;
          }
        }
        .company_btn_all {
          width: 200px;
          height: 100px;
          display: flex;
          margin-top: 80px;

          .fire_btn {
            width: 100vw;

            .fire_in {
              width: 70px;
              height: 40px;
              background: #f5381e;
              @extend %bluck_type;
            }
            button:hover {
              background-color: #f51e1e;
            }
          }

          .find_btn {
            width: 100vw;

            .find_in {
              width: 70px;
              height: 40px;
              background: #1ef525;
              @extend %bluck_type;
            }
            button:hover {
              background-color: #5ef51e;
            }
          }
        }
      }

      .company_one_btn {
        display: flex;
        flex-direction: column;
        width: 80px;
        @extend %bluck_type;
        .in {
          height: 100%;
          margin: 5px;
          background: #4a52ff;
          @extend %bluck_type;
          font-size: 14px;
        }
        button:hover {
          background-color: #1e26b7;
        }

        .edit {
          height: 20%;
          margin: 5px;
          background: #788cf2;
          @extend %bluck_type;
        }
      }
    }
  }
}

//알바생 급여 scss

.companyAlbaSalary-Wrapper {
  display: flex;

  .salaryList-Wrapper {
    width: 100vw;
    height: 100vh;
    .title {
      margin-left: 20px;
      h2 {
        color: #656577;
      }
    }

    .salary {
      display: inline-block;
      width: 100%;
      .company_one {
        margin: 20px;
        display: flex;
        justify-content: center;

        .company_one_right {
          display: flex;
          border-radius: 20px;
          width: 900px;
          height: 50px;
          font-size: 20px;
          justify-content: left;
          flex-direction: row;

          .company_set {
            background: #788cf23a;
            border: 2px white solid;
            font-size: 25px;
            margin-right: -2px;
            color: black;
          }
        }
      }
    }
  }
}

// 특정 알바생 조회 페이지
// 테이블 scss
.alba-work-table {
  border-collapse: collapse;
  width: 95%;
  margin: 20px;

  tr {
    border-bottom: 1px solid rgba(172, 172, 172, 0.897);
    th {
      text-align: left;
      vertical-align: bottom;
      // border-bottom: 3px solid black;
      background-color: #4a52ff;
      color: #ffffff;
      font-size: 18px;
    }
    th,
    td {
      padding: 6px 15px;
      text-align: center;
    }
    td {
      font-size: 17px;
    }
    button {
      border-radius: 20px;
      border: none;
      width: 80px;
      height: 30px;
      cursor: pointer;
      font-size: 18px;
    }
    .lateBtn {
      background: #ffc148;
      color: #ffffff;
      &Cancel {
        width: 100px;
      }
    }

    .absentBtn {
      background: #ff4848;
      color: #ffffff;
      &Cancel {
        width: 100px;
      }
    }
  }
}

.month {
  margin: 10px;
  span {
    font-size: 20px;
    font-weight: 600;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
  }
  button {
    margin: 0px 10px 0px 10px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 100px;
    background-color: rgba(134, 157, 238, 0.5);
    font-size: 16px;
    cursor: pointer;
    &:hover {
      background-color: rgba(53, 65, 109, 0.5);
      transition: 0.3s;
    }
  }
}
