//중복 값 처리
// 박스 둥굴게 글씨 하얀색
%bluck_type {
  border-radius: 10px;
  border: none;
  color: #ffffff;
}

.companyAlba-Wrapper {
  display: flex;
  .title {
    margin-left: 20px;
    h2 {
      color: #656577;
    }
  }

  .contract-Wrapper {
    width: 97%;
    height: 100%;
    margin: 20px;
    background-color: #ededed;
    .ct-wrapper {
      margin: 20px;
      height: 420px;
    }
  }
  .aa {
    .edit-btn {
      width: 100px;
      height: 50px;
      background: #4a52ff;
      @extend %bluck_type;
      margin: 20px;
    }
  }

  .bb {
    .check-btn {
      width: 100px;
      height: 50px;
      background: #4a52ff;
      @extend %bluck_type;
      margin: 20px;
    }
    .cancel-btn {
      width: 100px;
      height: 50px;
      background: #ff4a53;
      @extend %bluck_type;
      margin: 20px;
    }
  }

  .list-Wrapper {
    width: 100%;
    height: 100%;
  }

  .list {
    display: inline-block;
    width: 100%;
    .company_one {
      margin: 20px;
      display: flex;
      justify-content: center;

      .company_img {
        width: 200px;
        height: 100px;
      }

      .company_one_right {
        display: flex;
        background: rgba(17, 26, 215, 0.05);
        opacity: 0.7;
        border-radius: 20px;
        width: 60vw;
        height: 200px;
        font-size: 20px;
        justify-content: center;
        flex-direction: column;

        .absent_btn {
          position: absolute;
          width: 100vw;
          left: 1000px;

          .absent_in {
            width: 70px;
            height: 40px;
            background: #ffc148;
            @extend %bluck_type;
          }
          button:hover {
            background-color: #ffb348;
          }
        }

        .fire_btn {
          position: absolute;
          width: 100vw;
          left: 1100px;

          .fire_in {
            width: 70px;
            height: 40px;
            background: #f5381e;
            @extend %bluck_type;
          }
          button:hover {
            background-color: #f51e1e;
          }
        }

        .find_btn {
          position: absolute;
          width: 100vw;
          left: 1200px;

          .find_in {
            width: 70px;
            height: 40px;
            background: #1ef525;
            @extend %bluck_type;
          }
          button:hover {
            background-color: #5ef51e;
          }
        }

        .company_set {
          display: flex;
        }

        label {
          display: inline-block;
          font-weight: 700;
          width: 100px;
        }
      }

      .company_one_btn {
        display: flex;
        flex-direction: column;
        width: 80px;

        .in {
          height: 100%;
          margin: 5px;
          background: #4a52ff;
          @extend %bluck_type;
        }
        button:hover {
          background-color: #1e26b7;
        }

        .edit {
          height: 20%;
          margin: 5px;
          background: #788cf2;
          @extend %bluck_type;
        }
      }
    }
  }
}

//알바생 급여 scss

.companyAlbaSalary-Wrapper {
  display: flex;

  .salaryList-Wrapper {
    width: 100vw;
    height: 100vh;
    .title {
      margin-left: 20px;
      h2 {
        color: #656577;
      }
    }

    .salary {
      display: inline-block;
      width: 100%;
      .company_one {
        margin: 20px;
        display: flex;
        justify-content: center;

        .company_one_right {
          display: flex;
          border-radius: 20px;
          width: 900px;
          height: 50px;
          font-size: 20px;
          justify-content: left;
          flex-direction: row;

          .company_set {
            background: #788cf23a;
            border: 2px white solid;
            font-size: 30px;
            margin-right: -2px;
            color: black;
          }
        }
      }
    }
  }
}
