// 알바생페이지 통합 스타일 (메뉴바 없는 경우)
.alba-wrapper {
  overflow-x: hidden;
}
.alba-noNavbar-wrapper {
  display: flex;
  align-items: center;
  overflow-x: hidden;
  flex-direction: column;
  min-height: 600px;
}
.alba-companyList-wrapper {
  width: 80%;
  .title {
    margin: 10px;
    width: 100%;
    display: flex;
    height: 100px;
    margin-top: 20px;
    align-items: center;
    border-bottom: 4px solid #9db5fd;
    h2 {
      color: #656577;
      display: inline-block;
      font-size: 30px;
    }
  }

  .invited-code {
    display: flex;
    justify-content: center;
    align-items: center;

    .code-input {
      margin: 0px 5px 0px 5px;
      text-align: center;
      font-size: 26px;
      height: 60px;
      width: 40px;
      // border: 2px;
      // border-radius: 5px;
    }
    .code-input:focus {
      outline: 1px solid #4a52ff;
    }
    .submit {
      margin: 10px;
      width: 120px;
      height: 50px;
      border: none;
      background-color: #4a52ff;
      border-radius: 10px;
      color: #ffffff;
      font-size: 18px;
      cursor: pointer;
    }

    .submit:hover {
      background-color: #1d24af;
      transition: 0.5s;
    }
  }
}

// 알바생 메인 페이지
.alba-navbar-wrapper {
  display: flex;
  overflow-x: hidden;
  .main {
    min-width: 1000px;
    width: 100%;
    display: flex;
    justify-content: center;
    .main-container {
      padding: 20px;
      width: 1050px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .title {
    }
    .calender-wrapper {
      margin: 0;
    }
    .date {
      margin: 30px 10px 10px 10px;
      width: 1000px;
      &-title {
        font-style: italic;
        font-weight: 500;
        font-size: 30px;
        border-bottom: 3px solid #4a52ff;
        padding: 10px;
        label {
          font-style: normal;
          color: #888888;
        }
      }
      &-contents {
        margin: 10px;
        font-size: 20px;
        .number {
          font-size: 23px;
          padding: 10px;
          font-weight: bold;
          color: #4a52ff;
          text-shadow: 1px 1px 1px gray;
        }
        .alba-parttime {
          display: flex;
          flex-direction: row;
          align-items: center;

          span {
            padding: 10px;
          }
          b {
            font-size: 16px;
            margin-right: 10px;
          }
        }
      }
    }
    .salary-wrapper {
      margin-top: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      .salary-box {
        position: relative;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        padding: 20px;
        margin: 20px;
        background-color: #c2d1ff;
        p {
          position: absolute;
          background-color: #d9d9d9;
          padding: 10px;
          font-size: 13px;
          top: -20px;
          width: 360px;
          border-radius: 8px;
          color: #414141;
          text-align: center;
        }
      }
    }
  }
}

//알바생 출퇴근 조회
.alba-list-Wrapper {
  .member {
    width: 900px;
    margin: 20px;
  }
  .member-absent {
    margin: 20px;
    width: 500px;
    margin: 20px;
  }
  .title {
    margin-left: 20px;
    h2 {
      color: #656577;
    }
  }
}

button {
  cursor: pointer;
  transition: 0.5s;
  transition: all 0.3s ease;
}

button:hover {
  // filter: brightness(50%);
  // cursor: pointer;
  // transition: 0.5s;
  transform: scale(0.95);
}
