.alba-plus_company {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  // height: 100%;
  button {
    margin: 10px;
    background-color: rgba(74, 82, 255, 0.85);
    color: #ffffff;
    width: 210px;
    height: 50px;
    border-radius: 100px;
    border: none;
    font-size: 20px;
  }
  button:hover {
    background-color: rgba(48, 54, 165, 0.85);
  }
}
