//중복 값 처리
// 박스 둥굴게 글씨 하얀색
%bluck_type {
  border-radius: 10px;
  border: none;
  color: #ffffff;
}

.albaRecord-Wrapper {
  display: flex;
  .companyBody-Wrapper {
    width: 80%;
    .title {
      margin-left: 20px;

      border-bottom: 4px solid #9db5fd;
      h2 {
        color: #656577;
      }
    }
    .attitude-score {
      display: flex;
      height: 140px;
      color: #656577;
      align-items: center;
      margin-left: 20px;
    }

    .albaRecord-title {
      display: flex;
      height: 60px;

      align-items: center;
      border-bottom: 4px solid #9db5fd;
      margin-left: 20px;
      h2 {
        color: #656577;

        font-weight: 700;
      }
    }

    .list {
      display: inline-block;
      width: 100%;
      .company_one {
        margin: 20px;
        display: flex;
        justify-content: center;

        .company_img {
          width: 200px;
          height: 100px;
        }

        .company_one_right {
          display: flex;
          background: rgba(17, 26, 215, 0.05);
          opacity: 0.9;
          border-radius: 20px;
          width: 60vw;
          height: 200px;
          font-size: 20px;
          justify-content: center;
          flex-direction: column;
          .company_set {
            display: flex;
          }

          label {
            display: inline-block;
            font-weight: 700;
            width: 100px;
          }
        }
        .company_one_btn {
          display: flex;
          flex-direction: column;
          width: 80px;

          .in {
            height: 100%;
            margin: 5px;
            background: #4a52ff;
            @extend %bluck_type;
            font-size: 18px;
            cursor: pointer;
          }
        }
      }
    }
    .listCheck {
      display: inline-block;
      width: 100%;
      .company_one {
        margin: 20px;
        display: flex;
        justify-content: center;

        .company_img {
          width: 200px;
          height: 150px;
        }

        .company_one_right {
          display: flex;
          background: rgba(17, 26, 215, 0.05);
          opacity: 0.9;
          border-radius: 20px;
          width: 60vw;
          height: 460px;
          font-size: 20px;
          // justify-content: center;
          flex-direction: column;
          .company_set {
            display: flex;
            margin-bottom: 10px;
          }

          label {
            display: inline-block;
            font-weight: 700;
            width: 130px;
          }
        }
        .company_one_btn {
          display: flex;
          flex-direction: column;
          width: 80px;

          .in {
            height: 100%;
            margin: 5px;
            background: #4a52ff;
            @extend %bluck_type;
            font-size: 18px;
            cursor: pointer;
          }
        }
      }
    }
  }
}
