.modal-content-confirm {
  width: 500px;
  height: 220px;
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  .modal-title {
    // border-bottom: 4px solid #788cf2;
    // color: #656577;
  }
  .modal-contents {
    margin: 5px;
    .remove-company {
      color: gray;
    }
  }
}
