//ButtonChoose 페이지

.btnPageContainer {
  display: flex;
  flex-direction: column;
}

.btnPageHeader {
  width: 793px;
  height: 130px;
  font-family: "Goldman", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 180px;
  flex: 1;
  margin-left: 20px;
  align-items: center;
  text-align: center;
  color: #000000;
}

.btnContainer {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
}

%btn_type {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  width: 400px;
  height: 300px;
  border: none;
  border-radius: 64px;
  cursor: pointer;
  color: white;
  p {
    font-weight: 600;
    font-size: 34px;
    line-height: 100%;
  }
  &:hover {
    transition: 0.3s;
  }
}

.btnPJ {
  font-style: bold;
  font-weight: 400;
  font-size: 28px;
  width: 400px;
  height: 350px;
  border: none;
  border-radius: 64px;
  background-color: #869dee;
  color: white;
  cursor: pointer;
  margin-right: 50px;
}

.btnCEO {
  font-style: bold;
  font-weight: 400;
  font-size: 28px;
  width: 400px;
  height: 350px;
  border: none;
  border-radius: 64px;
  background-color: #4a52ff;
  color: white;
  cursor: pointer;
  margin-left: 50px;
}
.btnAttendance {
  @extend %btn_type;
  background-color: #4a52ff;
  margin-right: 50px;
  &:hover {
    background-color: #3941d4;
  }
}
.btnOffWork {
  @extend %btn_type;
  background-color: #ff554a;
  margin-left: 50px;
  &:hover {
    background-color: #d3453b;
  }
}

.btnPageFooter {
  flex: 1;
  text-align: center;
  font-style: bold;
  font-weight: 700;
  font-size: 40px;
  line-height: 180px;
  margin-left: 20px;
  align-items: center;
  color: #000000;
}

.btnH2 {
  margin-top: -5px;
}
