/*중복값 정리*/
%inputBox {
  padding: 10px 12px;
  border: 1px solid #d2d2d2;
  border-radius: 10px;
  font-size: 1rem;
  background-color: #f5f5f5;

  &:focus {
    outline: none;
    border-color: #9e30f4;
    box-shadow: 0 0 1px #9e30f4;
  }

  &::placeholder {
    color: #a6a6a6;
    font-size: 14px;
  }
}

.all {
  width: 100%;
  height: 100vh;

  background-image: url("../../imgs/background.jpg");
  background-size: cover;
}

// 회원가입 창
.signUpPage {
  margin-top: 40px;
  width: 50%;
  float: left;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  h2 {
    font-family: "Goldman";
    font-style: normal;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 70px;
    text-align: center;
  }

  .RegisterForm {
    width: 70%;
    margin: 0 auto;
    flex-direction: column;
  }
}

// 회원가입 입력 폼
.Form {
  height: 40px;
  margin: 10px;
  display: flex;

  .refisterInputInBtn {
    // display: inline-block;
    @extend %inputBox;
    // width: 320px;
    width: 60%;
    max-width: 320px;
  }

  .refisterInput {
    @extend %inputBox;
    width: 80%;
    max-width: 450px;
  }

  .tel_wapper {
    display: flex;
    width: 90%;
    justify-content: space-around;
    font-size: 24px;
    margin-left: 20px;
  }

  .tel {
    // width: 100px;
    width: 20%;
    @extend %inputBox;
    margin-left: 5px;
    margin-right: 5px;
  }

  .gender_wapper {
    width: 500px;
    display: flex;

    .gender_male {
      width: 50%;
      display: flex;
    }
    .gender_female {
      width: 50%;
      display: flex;
    }
  }

  [type="date"] {
    @extend %inputBox;
  }
}

// Label
.registerLabel {
  display: inline-block;
  // width: 120px;
  font-size: 15px;
  flex-shrink: 1;
  width: 130px;
  line-height: 40px;

  & label {
    font-size: 15px;
  }
}

.message {
  color: #ec6c6c;
  margin-left: 50px;
  width: 100vh;
  font-size: 15px;
}

// button
.button_send {
  // width: 100px;
  width: 20%;
  float: right;
  height: 100%;
  margin: 0 auto;

  background: #000000;
  border-radius: 50px;
  color: #ffffff;
}

.navegateButton {
  width: 100%;
  text-align: center;
}

%buttonForm {
  margin: 10px;
  width: 200px;
  height: 50px;
  font-size: 20px;
  border-radius: 50px;
  border: none;
}
.startBtn {
  @extend %buttonForm;
  font-family: "Goldman";
  background: #4a52ff;
  &:active {
    background-color: #3037af;
  }
}

.startCancelBtn {
  @extend %buttonForm;
  background: #869dee;
  &:active {
    background-color: #6175bd;
  }
}
