/* .App {
  text-align: center;
} */

.titleImage {
  text-align: center;
}

.titleImage img {
  margin-top: 140px;
  border-radius: 20%;
  box-shadow: 2px 2px 2px 2px rgb(198, 198, 198);
}

.bodyBackground {
  background-image: url("https://blog.kakaocdn.net/dn/b1salz/btr5E2LTym4/qHLLKLi6UydPeE3SCqg510/img.png");
  position: absolute;
  width: 100%;
  height: 100%;
}

.page {
  // border-radius: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 40%;
  max-width: wrap;
  padding: 0 20px;
  // margin-bottom: 40px;
  // margin-top: 40px;

  left: 70%;
  transform: translate(-50%, 0);

  background-color: #ffffff00;

  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.titleWrap {
  text-align: center;
  margin-top: 40px;
  font-size: 36px;
  font-weight: bold;
  color: #234794;
  margin-bottom: 10px;
}

.contentWrap {
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 30px;
  flex: 0.6;
}

.inputTitle {
  font-size: 12px;
  font-weight: 600;
  color: #262626;
}

.inputWrap {
  display: flex;
  border-radius: 8px;
  padding: 16px;
  margin-top: 8px;
  background-color: white;
  border: 1px solid #e2e0e0;
  box-shadow: 2px 2px 2px 2px rgb(198, 198, 198);
}
.inputWrap:focus-within {
  border: 1px solid #bdf4cd;
}

.input {
  width: 100%;
  outline: none;
  border: none;
  height: 17px;
  font-size: 14px;
  font-weight: 400;
}

.input::placeholder {
  color: #dadada;
}

.btnDiv {
  text-align: center;
}

.bottomButton {
  width: 70%;
  height: 48px;
  border: none;
  font-weight: bold;
  border-radius: 64px;
  background: linear-gradient(to right bottom, #234794 0%, #234794 100%);
  color: white;
  margin-bottom: 10px;
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px rgb(198, 198, 198);
}

.signUpBtn {
  text-align: center;
  margin-bottom: 30px;
  size: 5px;
}

.bottomButton:disabled {
  background: linear-gradient(to right bottom, #234794cb 0%, #234794 100%);
  color: white;
}

.errorMessageWrap {
  margin-top: 8px;
  color: #ef0000;
  font-size: 12px;
}
