// 특정 알바생 조회 페이지
.alba-work-table {
  margin: 10px;
  border-collapse: collapse;
  tr {
    th {
      text-align: left;
      vertical-align: bottom;
      border-bottom: 3px solid black;
    }
    th,
    td {
      padding: 6px 15px;
      text-align: center;
    }
  }
}
